<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">

<head>
	<meta charset="UTF-8">
	<title>Angular To Do List</title>
	<!-- CDN Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<!-- Angular To Do Library -->
	<script src="angular-local-storage.min.js"></script>
	<!-- Controller -->
	<script src="controller.js"></script>
</head>

<body ng-controller="ToDoController">
	<ul>
		<li ng-repeat="task in todo">
			{{ task.description }} - {{ task.date | date: 'short' }}
		</li>
	</ul>
	<form ng-submit="addActivity()">
		<input type="text" ng-model="newActivity.description" placeholder="Add the activity description" required>
		<input type="datetime-local" ng-model="newActivity.date" required>
		<button type="submit">Add</button>
	</form>
	<button ng-click="clearActivities()">Clean</button>
</body>

</html>